

<div class="comp__cards {{settings.theme}}">
<!--{{settings.brands}}-->
    <!--<h1>{{theme1}}</h1>-->

    <div class="row gutter-20">

        <div class="col-md-3 card_container">
            <div class="content bg-one radius-primary align-primary font-primary txt-white">
                <img src="../../assets/images/holidays.jpg" alt="holidays" />
                <!--<span class="favourite">+</span>-->
                <h1 class="font-primary header_size-primary">Holidays away</h1>
                <p class="font-primary txt_size-primary">Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn padding-primary bg-secondary txt-white radius-secondary txt_size-primary">View</button>
            </div>
        </div>

        <div class="col-md-3 card_container">
            <div class="content bg-one radius-primary align-primary font-primary txt-white">
                <img src="../../assets/images/micky.jpg" alt="micky" />
                <!--<span class="favourite">+</span>-->
                <h1 class="font-primary header_size-primary">Micky Flanigan</h1>
                <p class="font-primary txt_size-primary">Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn padding-primary bg-secondary txt-white radius-secondary txt_size-primary">View</button>
            </div>
        </div>

        <div class="col-md-3 card_container">
            <div class="content bg-one radius-primary align-primary font-primary txt-white">
                <img src="../../assets/images/wembley.jpg" alt="wembley" />
                <!--<span class="favourite">+</span>-->
                <h1 class="font-primary header_size-primary">Home of football</h1>
                <p class="font-primary txt_size-primary">Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn padding-primary bg-secondary txt-white radius-secondary txt_size-primary">View</button>
            </div>
        </div>

        <div class="col-md-3 card_container">
            <div class="content bg-one radius-primary align-primary font-primary txt-white">
                <img src="../../assets/images/theatre.jpg" alt="theatre" />
                <!--<span class="favourite">+</span>-->
                <h1 class="font-primary header_size-primary">West end night</h1>
                <p class="font-primary txt_size-primary">Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn padding-primary bg-secondary txt-white radius-secondary txt_size-primary">View</button>
            </div>
        </div>

        <div class="col-md-3 card_container">
            <div class="content bg-one radius-primary align-primary font-primary txt-white">
                <img src="../../assets/images/wimbledon.jpg" alt="wimbledon" />
                <!--<span class="favourite">+</span>-->
                <h1 class="font-primary header_size-primary">Game set and match</h1>
                <p class="font-primary txt_size-primary">Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn padding-primary bg-secondary txt-white radius-secondary txt_size-primary">View</button>
            </div>
        </div>

        <div class="col-md-3 card_container">
            <div class="content bg-one radius-primary align-primary font-primary txt-white">
                <img src="../../assets/images/holidays.jpg" alt="holidays" />
                <!--<span class="favourite">+</span>-->
                <h1 class="font-primary header_size-primary">Holidays away</h1>
                <p class="font-primary txt_size-primary">Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn padding-primary bg-secondary txt-white radius-secondary txt_size-primary">View</button>
            </div>
        </div>

        <div class="col-md-3 card_container">
            <div class="content bg-one radius-primary align-primary font-primary txt-white">
                <img src="../../assets/images/micky.jpg" alt="micky" />
                <!--<span class="favourite">+</span>-->
                <h1 class="font-primary header_size-primary">Micky Flanigan</h1>
                <p class="font-primary txt_size-primary">Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn padding-primary bg-secondary txt-white radius-secondary txt_size-primary">View</button>
            </div>
        </div>

        <div class="col-md-3 card_container">
            <div class="content bg-one radius-primary align-primary font-primary txt-white">
                <img src="../../assets/images/wembley.jpg" alt="wembley" />
                <!--<span class="favourite">+</span>-->
                <h1 class="font-primary header_size-primary">Home of football</h1>
                <p class="font-primary txt_size-primary">Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn padding-primary bg-secondary txt-white radius-secondary txt_size-primary">View</button>
            </div>
        </div>

        <div class="col-md-3 card_container">
            <div class="content bg-one radius-primary align-primary font-primary txt-white">
                <img src="../../assets/images/theatre.jpg" alt="theatre" />
                <!--<span class="favourite">+</span>-->
                <h1 class="font-primary header_size-primary">West end night</h1>
                <p class="font-primary txt_size-primary">Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn padding-primary bg-secondary txt-white radius-secondary txt_size-primary">View</button>
            </div>
        </div>

        <div class="col-md-3 card_container">
            <div class="content bg-one radius-primary align-primary font-primary txt-white">
                <img src="../../assets/images/wimbledon.jpg" alt="wimbledon" />
                <!--<span class="favourite">+</span>-->
                <h1 class="font-primary header_size-primary">Game set and match</h1>
                <p class="font-primary txt_size-primary">Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn padding-primary bg-secondary txt-white radius-secondary txt_size-primary">View</button>
            </div>
        </div>

        <!--<div class="col-md-4 article article-md">-->
            <!--<div class="content bg-one radius-primary align-primary font-primary">-->
                <!--<img src="../../assets/images/taylor-swift.jpg" alt="Taylor Swift" />-->
                <!--<span class="favourite">+</span>-->
                <!--<h1>Taylor Swift</h1>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>-->
                <!--<button type="submit" class="btn btn-sm bg-secondary txt-white radius-primary">View</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6 article article-lg">-->
            <!--<div class="content bg-one radius-primary align-primary font-primary">-->
                <!--<img src="../../assets/images/taylor-swift.jpg" alt="Taylor Swift" />-->
                <!--<span class="favourite">+</span>-->
                <!--<h1>Taylor Swift</h1>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>-->
                <!--<button type="submit" class="btn btn-sm bg-secondary txt-white radius-primary">View</button>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>






<!--

<div class="theme_dark">

    <h1>{{theme2}}</h1>

    <div class="row gutter-20">
        <div class="col-md-3 article-sm">
            <img src="../../assets/images/taylor-swift.jpg" alt="Taylor Swift" style="max-width: 100%;" />
            <div class="content">
                <span class="favourite">+</span>
                <h1>Taylor Swift</h1>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn btn-sm">View</button>
            </div>
        </div>

        <div class="col-md-4 article-md">
            <img src="../../assets/images/taylor-swift.jpg" alt="Taylor Swift" style="max-width: 100%;" />
            <div class="content">
                <span class="favourite">+</span>
                <h1>Taylor Swift</h1>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn btn-md">View</button>
            </div>
        </div>
        <div class="col-md-6 article-lg">
            <img src="../../assets/images/taylor-swift.jpg" alt="Taylor Swift" style="max-width: 100%;" />
            <div class="content">
                <span class="favourite">+</span>
                <h1>Taylor Swift</h1>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <button type="submit" class="btn btn-lg">View</button>
            </div>
        </div>
    </div>
</div>





<div class="theme_luxury">

    <h1>{{theme3}}</h1>

    <div class="row gutter-20">
        <div class="col-md-3 article-sm">
            !--<img src="../../assets/images/taylor-swift.jpg" alt="Taylor Swift" style="max-width: 100%;" />--
            <span class="favourite">+</span>
            <div class="content">
                <h1>Taylor Swift</h1>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <a href="#" class="button btn-sm">View</a>
            </div>
        </div>

        <div class="col-md-4 article-md">
            !--<img src="../../assets/images/taylor-swift.jpg" alt="Taylor Swift" style="max-width: 100%;" />--
            <span class="favourite">+</span>
            <div class="content">
                <h1>Taylor Swift</h1>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <a href="#" class="button btn-md">View</a>
            </div>
        </div>
        <div class="col-md-6 article-lg">
            !--<img src="../../assets/images/taylor-swift.jpg" alt="Taylor Swift" style="max-width: 100%;" />--
            <span class="favourite">+</span>
            <div class="content">
                <h1>Taylor Swift</h1>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <a href="#" class="button btn-lg">View</a>
            </div>
        </div>
    </div>

</div>

-->