
<div class="article">


    <div class="row gutter-20">

        <div class="col-md-9 article_container align-primary font-primary txt_size-secondary line_height-secondary">

            <h1 class="header_size-primary">Presenting our Global Hotel Collection </h1>
            <h2 class="header_size-secondary">Upgrades, complimentary breakfast, wi-fi, flexible check-in and check-out and more at great hotels</h2>

            <img src="../../assets/images/holidays.jpg" alt="holidays" class="radius-primary" />

            <p> As a member of Ten Concierge, you can enjoy a vast range of exclusively negotiated benefits when staying at a handpicked selection of hotels around the world. By booking through Ten Concierge, you will benefit from some amazing offers, including room upgrades, complimentary breakfasts, hotel credits, flexible check-in and check-out times, dining and spa credits and complimentary wi-fi at some of the world's finest and best-known hotels. You will also find them listed on this site when you browse the hotels section. </p>

            <p> All of our hotel benefits are based on the best available rate. At present we can make special arrangements at more than 1,500 luxury hotels – a collection we are continually developing and have put together based on the places our members visit most frequently, including independent, classic, contemporary and boutique hotels. </p>

            <p> To book a Global Hotel Collection stay, call us or use our contact form. </p>

            <p> Alternatively, search and book hotels at a discount with no extras </p>

            <p> We are proud to have global partnerships with a number of the world's finest hotel groups: </p>

            <ul>
                <li> Four Seasons </li>
                <li> Mandarin Oriental </li>
                <li> Ritz-Carlton </li>
                <li> Rocco Forte Hotels </li>
                <li> Shangri-La </li>
                <li> St. Regis </li>
                <li> The Luxury Collection </li>
                <li> W Hotels </li>
                <li> Dorchester Collection </li>
                <li> One&Only </li>
                <li> Belmond </li>
                <li> Rosewood </li>
                <li> Aman </li>
            </ul>

            <p> We also have partnerships with selected hotels from the following chains: </p>

            <ul>
                <li> Fairmont </li>
                <li> Kempinski </li>
                <li> Park Hyatt </li>
                <li> Raffles </li>
                <li> Taj Hotels Resorts and Palaces </li>
                <li> Oberoi Hotels </li>
            </ul>

            <p> Here are a few of the hotels we have made special arrangements with – call the team to discuss booking a stay. </p>

            <h1 class="header_size-primary"> Claridge’s, London </h1>
            <p> The famed art deco building dates back to 1898 and its grand foyer and sweeping staircase make a memorable first impression. The 203 guestrooms and suites are the largest in London, individually designed in shades of white, gold, pastel blue and silver. The afternoon tea in the lobby is legendary and the health and fitness centre has personal trainers and views across Hyde Park. </p>

            <p> Our members receive complimentary breakfast, early check-in/late check-out*, complimentary room upgrade*, £60 food and beverage credit and a small welcome gift. </p>

            <p> Book a stay at Claridge's, London </p>

            <h1 class="header_size-primary"> The Upper House, Hong Kong </h1>
            <p> Located in central Hong Kong near Pacific Place, the city’s main shopping district, the property is modern and full of intriguing spaces, incorporating natural materials with playful lighting created by leading designer Andre Fu. The 117 rooms are all light and spacious with spectacular views across the city through the substantial windows, and all feature free-standing baths. </p>

            <p> Our members receive complimentary breakfast, early check-in/late check-out*, complimentary room upgrade* and US$100 hotel credit. </p>

            <p> Book a stay at The Upper House, Hong Kong </p>

            <h1 class="header_size-primary"> One&Only The Palm, Dubai </h1>
            <p> Set in a prime position on Dubai’s iconic man-made palm-shaped island, this beautiful hotel is a great alternative to the city’s larger, more flamboyant options. Blending Moorish and Andalusian architecture, guestrooms are divided between the main manor house and beachfront villas with gardens and balconies. There’s a private stretch of beach dotted with huge day beds, three excellent restaurants and a state-of-the-art spa. </p>

            <p> Our members receive complimentary breakfast, early check-in/late check-out*, complimentary room upgrade*, dinner for two people per stay (excluding alcohol), a welcome cocktail. </p>

            <p> Book a stay at One&Only The Palm, Dubai </p>


            <!--<div class="content bg-one radius-primary align-primary font-primary txt-white">-->
                <!--<img src="../../assets/images/holidays.jpg" alt="holidays" />-->
                <!--<h1 class="font-primary header_size-primary">Holidays away</h1>-->
                <!--<p class="font-primary txt_size-primary">Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>-->
                <!--<button type="submit" class="btn padding-primary bg-secondary txt-white radius-secondary txt_size-primary">View</button>-->
            <!--</div>-->


        </div>

    </div>


</div>


<!--<h1> {{title}} </h1>-->

<!--&lt;!&ndash; Full width &ndash;&gt;-->
      <!--<div class="row gutter-20 theme_light green">-->
        <!--<div class="col-md-12">-->
            <!--<img src="../../assets/images/holidays.jpg" alt="holidays" style="width: 100%; max-height: 250px;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->

                <!--<button type="submit" class="btn btn-sm">View</button>-->
            <!--</div>-->
        <!--</div>-->
      <!--</div>-->


<!--&lt;!&ndash; 2 column &ndash;&gt;-->
      <!--<div class="row gutter-20">-->
        <!--<div class="col-md-6">-->
            <!--<img src="../../assets/images/theatre.jpg" alt="theatre" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<img src="../../assets/images/micky.jpg" alt="holidays" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
      <!--</div>-->

<!--&lt;!&ndash; 3 column &ndash;&gt;-->
      <!--<div class="row gutter-20">-->
        <!--<div class="col-md-4">-->
            <!--<img src="../../assets/images/wimbledon.jpg" alt="holidays" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<img src="../../assets/images/wembley.jpg" alt="holidays" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<img src="../../assets/images/holidays.jpg" alt="holidays" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
      <!--</div>-->

<!--&lt;!&ndash; 4 column &ndash;&gt;-->
      <!--<div class="row gutter-20">-->
        <!--<div class="col-md-3">-->
            <!--<img src="../../assets/images/micky.jpg" alt="micky" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
            <!--<img src="../../assets/images/theatre.jpg" alt="theatre" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
            <!--<img src="../../assets/images/taylor.jpg" alt="taylor" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
            <!--<img src="../../assets/images/shard.jpg" alt="shard" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
      <!--</div>-->

<!--&lt;!&ndash; 6 column &ndash;&gt;-->
      <!--<div class="row gutter-20">-->
        <!--<div class="col-md-2">-->
            <!--<img src="../../assets/images/holidays.jpg" alt="holidays" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
            <!--<img src="../../assets/images/wembley.jpg" alt="wembley" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
            <!--<img src="../../assets/images/theatre.jpg" alt="theatre" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
            <!--<img src="../../assets/images/wimbledon.jpg" alt="wimbledon" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
            <!--<img src="../../assets/images/taylor.jpg" alt="taylor" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
            <!--<img src="../../assets/images/micky.jpg" alt="micky" style="max-width: 100%;" />-->
            <!--<div class="module">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>-->
            <!--</div>-->
        <!--</div>-->
      <!--</div>-->

















<!-- MASONRY GRID

<div class="card-columns">
  <div class="card">
    <img class="card-img-top img-fluid" src="../../assets/images/theatre.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title that wraps to a new line</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>


  <div class="card card-warning">
    <img class="card-img-top img-fluid" src="../../assets/images/theatre.jpg" alt="theatre" style="max-width: 100%;" />
    <div class="card-block">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>
    </div>
  </div>


  <div class="card">
    <img class="card-img-top img-fluid" src="../../assets/images/theatre.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>


  <div class="card card-inverse card-primary p-3 text-center">
    <blockquote class="card-blockquote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer>
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>


  <div class="card text-center">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>


  <div class="card">
    <img class="card-img img-fluid" src="../../assets/images/theatre.jpg" alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="card-blockquote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>


  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


-->

<!-- LIVE Travel layout - based on single row
      <div class="row gutter-20" style="align-items: flex-start;">
        <div class="col-md-8">
            <img src="../../assets/images/theatre.jpg" alt="theatre" style="max-width: 100%;" />
            <div class="module">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="../../assets/images/micky.jpg" alt="holidays" style="max-width: 100%;" />
            <div class="module">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>
            </div>
        </div>


        <div class="col-md-3">
            <img src="../../assets/images/wimbledon.jpg" alt="holidays" style="max-width: 100%;" />
            <div class="module">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="../../assets/images/wembley.jpg" alt="holidays" style="max-width: 100%;" />
            <div class="module">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/images/holidays.jpg" alt="holidays" style="max-width: 100%;" />
            <div class="module">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>
            </div>
        </div>


        <div class="col-md-4">
            <img src="../../assets/images/micky.jpg" alt="micky" style="max-width: 100%;" />
            <div class="module">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="../../assets/images/theatre.jpg" alt="theatre" style="max-width: 100%;" />
            <div class="module">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="../../assets/images/taylor.jpg" alt="taylor" style="max-width: 100%;" />
            <div class="module">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>
            </div>
        </div>

      </div>
 -->