@import "event-import";

.article {

  .article_container {

    img {
      margin: 0 0 10px;
      object-fit: contain;
      width: 100%;
    }
    h1 {
      padding: 15px 0;
    }
    h2 {
      padding: 0 0 10px;
    }
    p {
      padding: 8px 0;
    }
    ul {
      list-style: square;
      list-style-position: inside;
    }

  }

}
