
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
    <a class="navbar-brand" href="#">Ten Product</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a class="nav-link"routerLink="/about" routerLinkActive="active">Cards</a>
        </li>
        <li>
          <a class="nav-link"routerLink="/cards" routerLinkActive="active">Article</a>
        </li>
        <li>
          <a class="nav-link"routerLink="/events" routerLinkActive="active">Events</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">

      <h1 style="font-size:36px;">Our current brand is <span style="color:orangered; text-transform: uppercase;">{{currentBrand}}</span></h1>

      <!-- routing here -->
      <router-outlet></router-outlet>
    </div>
  </div>
